<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179647861018-428tipammkgaiu639dvmjj4a0fqs2ab3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179647861018-428tipammkgaiu639dvmjj4a0fqs2ab3</string>
	<key>API_KEY</key>
	<string>AIzaSyDjzELWvboen23gUGBh1OcUlnvjOaVd6zE</string>
	<key>GCM_SENDER_ID</key>
	<string>179647861018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.CrimsonMinistry</string>
	<key>PROJECT_ID</key>
	<string>crimson-ministry</string>
	<key>STORAGE_BUCKET</key>
	<string>crimson-ministry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179647861018:ios:91619522e0c2f489c15ca3</string>
	<key>DATABASE_URL</key>
	<string>https://crimson-ministry.firebaseio.com</string>
</dict>
</plist>